<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSONPlaceholder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="container-index">
        <div class="content-index">
            <h3>JsonPlaceholder</h3>
            <div class="navigation-index">
                <ul>
                    <li><a href="{{ url_for('getPosts') }}">POSTY</a></li>
                    <li><a href="{{ url_for('getAlbums') }}">ALBUMY</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
